.courses-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.courses-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 4px 10px 0px #505050;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.courses-navbar {
  width: 1463px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.courses-heading {
  font-size: 24px;
  font-style: normal;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.courses-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.courses-link {
  font-size: 24px;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.courses-link1 {
  font-size: 24px;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.courses-link2 {
  font-size: 24px;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.courses-link3 {
  font-size: 24px;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.courses-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.courses-icon {
  width: 36px;
  height: 36px;
}
.courses-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.courses-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.courses-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.courses-icon2 {
  width: 24px;
  height: 24px;
}
.courses-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.courses-link4 {
  margin-bottom: var(--dl-space-space-unit);
}
.courses-link5 {
  margin-bottom: var(--dl-space-space-unit);
}
.courses-link6 {
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 479px) {
  .courses-navbar-container {
    width: 479px;
    align-items: center;
  }
  .courses-navbar {
    width: 479px;
    padding: var(--dl-space-space-tripleunit);
    position: relative;
    padding-top: 0px;
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .courses-heading {
    font-size: 18px;
    align-self: center;
    padding-top: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-unit);
  }
  .courses-links-container {
    width: auto;
    height: auto;
    align-self: center;
    align-items: flex-start;
    padding-top: var(--dl-space-space-doubleunit);
    flex-direction: row;
    justify-content: center;
  }
  .courses-link {
    font-size: 18px;
    align-self: center;
    margin-right: var(--dl-space-space-doubleunit);
    text-transform: none;
  }
  .courses-link1 {
    width: 100px;
    font-size: 18px;
    align-self: center;
    font-family: Overpass;
    font-weight: 700;
    line-height: 1.55;
    margin-right: var(--dl-space-space-halfunit);
    text-transform: none;
    text-decoration: none;
  }
  .courses-link2 {
    font-size: 18px;
    align-self: center;
    font-family: Overpass;
    font-weight: 700;
    line-height: 1.55;
    margin-right: var(--dl-space-space-doubleunit);
    text-transform: none;
    text-decoration: none;
  }
  .courses-link3 {
    font-size: 18px;
    align-self: center;
    font-family: Overpass;
    font-weight: 700;
    line-height: 1.55;
    text-transform: none;
    text-decoration: none;
  }
  .courses-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
}
