.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 4px 10px 0px #505050;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-navbar {
  width: 1463px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-heading {
  font-size: 24px;
  font-style: normal;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-link {
  font-size: 24px;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-link1 {
  font-size: 24px;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-link2 {
  font-size: 24px;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-link3 {
  font-size: 24px;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon {
  width: 36px;
  height: 36px;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.home-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon02 {
  width: 24px;
  height: 24px;
}
.home-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link4 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-link5 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-link6 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: radial-gradient(circle at right, rgb(221, 228, 249) 2.00%,rgba(136, 185, 234, 0.96) 77.00%);
}
.home-hero {
  width: var(--dl-size-size-maxcontent);
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.home-hero-text-container {
  width: 748px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading2 {
  color: rgb(0, 0, 0);
  width: 691px;
  height: 86px;
  font-size: 60px;
  font-style: normal;
  font-family: Cairo;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-tripleunit);
  letter-spacing: 5px;
}
.home-text2 {
  color: var(--dl-color-gray-black);
  font-size: 30px;
  font-style: normal;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-fiveunits);
  letter-spacing: 2px;
  text-transform: none;
  text-decoration: none;
}
.home-features {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text3 {
  font-size: 48px;
  font-style: normal;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-fourunits);
  text-transform: none;
  text-decoration: none;
}
.home-cards-container {
  width: var(--dl-size-size-maxcontent);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-card {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-icon04 {
  width: 70%;
  height: auto;
  opacity: 0.5;
}
.home-content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading3 {
  font-size: 36px;
  font-style: normal;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text4 {
  font-size: 25px;
  font-style: normal;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.home-card1 {
  width: 40%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container1 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-icon06 {
  width: 70%;
  height: auto;
  opacity: 0.5;
}
.home-content-container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading4 {
  width: auto;
  font-size: 36px;
  font-style: normal;
  text-align: center;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text5 {
  width: 400px;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.home-card2 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container2 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-icon08 {
  width: 70%;
  height: auto;
  opacity: 0.5;
}
.home-content-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading5 {
  font-size: 36px;
  font-style: normal;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text6 {
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.home-about {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-max-content-width-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-content-container3 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: center;
}
.home-image {
  width: 30%;
  object-fit: cover;
}
.home-text8 {
  font-size: 40px;
  padding-left: 150px;
}
.home-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-footer-container {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
@media(max-width: 1600px) {
  .home-icon04 {
    width: 50%;
    height: 100%;
    opacity: 0.5;
  }
  .home-icon06 {
    width: 50%;
    height: 50%;
    opacity: 0.5;
  }
  .home-icon08 {
    width: 50%;
    height: auto;
    opacity: 0.5;
  }
  .home-image {
    width: 40%;
  }
  .home-text8 {
    font-size: 40px;
    padding-left: 150px;
  }
}
@media(max-width: 1200px) {
  .home-hero {
    width: auto;
  }
}
@media(max-width: 479px) {
  .home-navbar-container {
    width: auto;
    align-items: center;
  }
  .home-navbar {
    width: 100%;
    padding: var(--dl-space-space-tripleunit);
    position: relative;
    padding-top: 0px;
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .home-heading {
    font-size: 18px;
    align-self: center;
    padding-top: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-links-container {
    width: auto;
    height: auto;
    align-self: center;
    align-items: flex-start;
    padding-top: var(--dl-space-space-doubleunit);
    flex-direction: row;
    justify-content: center;
  }
  .home-link {
    font-size: 18px;
    align-self: center;
    margin-right: var(--dl-space-space-doubleunit);
    text-transform: none;
  }
  .home-link1 {
    width: 100px;
    font-size: 18px;
    align-self: center;
    font-family: Overpass;
    font-weight: 700;
    line-height: 1.55;
    margin-right: var(--dl-space-space-halfunit);
    text-transform: none;
    text-decoration: none;
  }
  .home-link2 {
    font-size: 18px;
    align-self: center;
    font-family: Overpass;
    font-weight: 700;
    line-height: 1.55;
    margin-right: var(--dl-space-space-doubleunit);
    text-transform: none;
    text-decoration: none;
  }
  .home-link3 {
    font-size: 18px;
    align-self: center;
    font-family: Overpass;
    font-weight: 700;
    line-height: 1.55;
    text-transform: none;
    text-decoration: none;
  }
  .home-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .home-container2 {
    width: auto;
    height: auto;
  }
  .home-hero {
    width: auto;
  }
  .home-hero-text-container {
    width: 450px;
  }
  .home-heading2 {
    width: auto;
    height: auto;
    font-size: 60px;
    align-self: center;
    text-align: center;
    letter-spacing: 0;
  }
  .home-text2 {
    width: auto;
    align-self: center;
    text-align: center;
  }
  .home-text3 {
    align-self: center;
    text-align: center;
  }
  .home-cards-container {
    align-items: flex-start;
    flex-direction: column;
  }
  .home-card {
    width: 100%;
  }
  .home-text4 {
    width: auto;
  }
  .home-card1 {
    width: 100%;
  }
  .home-card2 {
    width: 100%;
  }
  .home-text6 {
    width: auto;
    text-align: center;
  }
  .home-heading-container1 {
    position: relative;
  }
  .home-text7 {
    align-self: center;
    text-align: center;
  }
  .home-content-container3 {
    flex-direction: column;
  }
  .home-image {
    align-self: center;
  }
  .home-text8 {
    font-size: 25px;
    align-self: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: 0px;
  }
}
